name: Test Workflow

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout trigger branch
        uses: actions/checkout@v3

      - name: Attempt rebase
        run: |
          git fetch 
          git rebase

      - name: Setup-java
        uses: actions/setup-java@v3
        with:
          distribution: semeru
          java-version: 17

      - name: Run tests
        run: mvn test

      - name: Build with Maven
        run: mvn clean package

      - name: Push changes to main
        run: git push --force-with-lease origin ${{ github.ref }}:main